.shop {
  width: 100%;
  height: 100vh;
  overflow: auto;

  header {
    padding: 0px 10px;
    height: 50px;
    background-color: var(--mau-trang);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    border-radius: 10px;
    top: 10px;
    right: 20px;

    div.p {
      font-size: 20px;
      font-weight: bold;
      margin-right: 10px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .shop-banner {
    width: 100%;

    img {
      width: 100%;
    }
  }

  h3.header-voucher {
    margin: 0px 20px;
    font-weight: bold;
    color: var(--xanh-login);
    text-transform: uppercase;
  }

  .voucher-all {
    margin: 20px;
    display: grid;
    grid-template-columns: 32% 32% 32%;

    .voucher-item {
      padding: 20px;
      width: 100%;
      background-color: var(--mau-trang);
      box-shadow: var(--box-shadow);
      display: grid;
      grid-template-columns: 25% 70%;
      border-radius: 10px;
      justify-content: space-between;

      .voucher-left {
        background-color: var(--xanh-login);
        border-radius: 5px;
        height: 130px;

        p {
          transform: translateY(30px);
          color: var(--mau-trang);
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
        }

        h4 {
          transform: translateY(20px);
          margin-top: -10px;
          color: var(--mau-trang);
          text-transform: uppercase;
          text-align: center;
          font-size: 40px;
        }
      }

      .voucher-right {
        height: 130px;

        h3 {
          color: var(--xanh-login);
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold;
        }

        p {
          font-size: 16px;
        }

        .button {
          width: 120px;
          background-color: var(--xanh-login);
          text-align: center;
          border-radius: 5px;
          cursor: pointer;

          p {
            color: var(--mau-trang);
            font-weight: bold;
            padding: 5px;
          }
        }
      }
    }
  }

  h3.product-text {
    margin: 40px 20px 0px 20px;
    font-weight: bold;
    color: var(--xanh-login);
    text-transform: uppercase;
  }

  .product {
    margin: 20px 20px 100px 20px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;

    .product-item {
      background-color: var(--mau-trang);
      box-shadow: var(--box-shadow);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

      img {
        width: 90%;
      }

      .action {
        width: 100%;
        display: grid;
        grid-template-columns: 49% 49%;
        justify-content: space-between;

        .button {
          margin-top: 10px;
          padding: 5px 20px;
          background-color: var(--xanh-login);
          border-radius: 5px;
          font-weight: bold;
          color: var(--mau-trang);
          cursor: pointer;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          div.p {
            font-size: 20px;
            font-weight: bold;
            margin-right: 5px;
          }

          img {
            width: 25px;
            height: 25px;
          }

          &:first-child {
            cursor: default;
          }
        }
      }
    }
  }
}
