.navAdmin {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .fa-solid {
    color: var(--mau-den);
    font-size: 20px;
    cursor: pointer;
  }

  .fa-bars {
    margin-top: 8px;
    margin-left: 20px;
  }

  .fa-bell,
  .fa-sun,
  .fa-moon {
    margin-top: 10px;
  }

  .custom-dropdown-toggle {
    display: inline-block;
    cursor: pointer;
    color: var(--mau-den);
    text-align: left;
    margin-top: 8px;
    margin-right: 20px;
    margin-left: 15px;
  }

  .greeting {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
  }

  .user-name {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
  }

  .custom-dropdown-toggle::after {
    display: none;
  }

  .dropdown-toggle {
    background: none !important;
    border: none !important;
    padding: 0;
    box-shadow: none !important;
  }

  .dropdown-link {
    color: var(--mau-den);
    text-decoration: none;
  }

  .dropdown-link-logout {
    color: var(--mau-do);
    text-decoration: none;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: var(--mau-trang);
  }

  .dropdown-item:hover {
    background-color: var(--mau-trang);
  }
}

.dark-mode {
  .headerAdmin {
    .fa-solid {
      color: var(--mau-trang);
    }

    .custom-dropdown-toggle {
      color: var(--mau-trang);
    }

    .dropdown-menu {
      background-color: var(--dark-mode-bay);

      .dropdown-link {
        color: var(--xam-nhat-nhat);
      }

      .dropdown-link-logout {
        color: var(--do-thu-nhat);
        text-decoration: none;
      }

      .dropdown-item.active,
      .dropdown-item:active {
        background-color: var(--dark-mode-bay);
      }

      .dropdown-item:hover {
        background-color: var(--dark-mode-bay);
      }

      .dropdown-divider {
        background-color: var(--xam-nhat-nhat);
      }
    }
  }
}
