.admin {
  .btn {
    margin-right: 10px;

    .fa-solid {
      margin-right: 10px;
    }
  }
}

.dark-mode {
  .admin {
    .btn-dark {
      background-color: var(--dark-mode-tam);
      border: none;

      &:hover {
        background-color: var(--dark-mode-chin);
      }
    }
  }
}
