.news {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;

  .news-item {
    margin-top: 30px;
    background-color: var(--xam-nhat-nhat);
    border-radius: 10px;
    text-align: justify;
    transition: 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    h3 {
      padding: 10px 20px 5px 20px;
      font-size: 20px;
      color: var(--mau-den);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.4;
      -webkit-line-clamp: 2;
    }

    p {
      padding: 0px 20px;
      font-size: 18px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.4;
      -webkit-line-clamp: 3;
      color: var(--mau-den);
    }

    .news-text {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 15px;
        font-weight: bold;
        color: var(--text-color-news);
      }
    }

    .btn {
      margin: 0px 0px 20px 17px;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.show_tintuc {
  margin-top: 30px;

  .show_tintuc_item {
    border-radius: 10px;
    width: 100%;
    min-height: 200px;
    background-color: var(--xam-nhat-nhat);

    h3 {
      text-align: center;
      font-size: 25px;
      padding: 20px;
    }

    .description {
      padding: 0px 20px;
      font-style: italic;
      text-align: justify;
    }

    .tintuc_grid {
      display: flex;
      justify-content: center;
      padding-bottom: 100px;

      .tintuc_grid_2 {
        display: flex;
      }

      p {
        padding: 0px 30px;
        font-weight: bold;
        color: var(--xanh-mac-dinh);

        i {
          padding-right: 10px;
          cursor: pointer;
        }
      }
    }
  }

  .show_content {
    display: flex;
    justify-content: center;

    .show_content_item {
      background-color: var(--mau-trang);
      transform: translateY(-100px);
      width: 95%;
      padding: 20px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.offcanvas-body {
  .commentMain {
    margin-bottom: 45px;

    .chat-main {
      display: flex;

      img {
        width: 50px;
        height: 50px;
      }

      .comment-info {
        margin-left: 10px;

        .info {
          display: grid;
          grid-template-columns: 370px 10px;

          p {
            font-weight: bold;
          }

          i {
            cursor: pointer;
            margin-top: 5px;
          }

          .report {
            padding: 10px;
            border-radius: 5px;
            position: fixed;
            background-color: var(--xam-nhat-nhat);
            right: 40px;
            margin-top: 25px;

            .report-item {
              display: flex;
              cursor: pointer;

              i {
                font-size: 18px;
                margin-right: 10px;
              }

              i.fa-trash,
              p.delete {
                color: var(--mau-do);
              }
            }
          }
        }

        .info-chat {
          margin-top: -15px;
          font-size: 18px;
          text-align: justify;
        }

        .action {
          display: grid;
          grid-template-columns: 40% 20% 20%;
          margin-top: -15px;
          p.time {
            font-size: 16px;
          }

          .action-likes {
            display: flex;
            i {
              margin-top: 5px;
              margin-right: 5px;
              cursor: pointer;
            }
          }

          p.reply {
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }

  .commentBot {
    position: fixed;
    bottom: 0;
    background-color: var(--mau-trang);
    padding: 10px 0px 30px 0px;
    width: 30%;

    .grid2 {
      display: grid;
      grid-template-columns: 88% 10%;
      justify-content: space-between;
      text-align: center;
      align-items: center;

      h6 {
        color: var(--xam-nhat-ba);
      }

      h6.active {
        color: var(--xanh-login);
        cursor: pointer;
      }
    }
  }
}

.dark-mode {
  .news {
    .news-item {
      background-color: var(--dark-mode-nam);

      &:hover {
        box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
      }

      h3,
      p {
        color: var(--mau-trang);
      }

      .news-text {
        p {
          color: var(--mau-tim-nhat-mot);
        }
      }
    }
  }

  .show_tintuc {
    .show_tintuc_item {
      background-color: var(--dark-mode-nam);

      .tintuc_grid {
        p {
          color: var(--mau-tim-nhat-hai);

          i {
            color: var(--mau-tim-nhat-hai);
          }
        }
      }
    }

    .show_content {
      .show_content_item {
        background-color: var(--dark-mode-nen);
        transform: translateY(-100px);
        width: 95%;
        padding: 20px;
        border-radius: 10px;
        box-shadow: rgba(141, 141, 141, 0.35) 0px 5px 15px;
      }
    }
  }

  .offcanvas {
    background-color: var(--dark-mode-nen);

    .offcanvas-body {
      .commentMain {
        .chat-main {
          .comment-info {
            .info {
              .report {
                background-color: var(--dark-mode-ba);

                .report-item {
                  i.fa-trash,
                  p.delete {
                    color: var(--mau-do);
                  }
                }
              }
            }
          }
        }
      }

      .commentBot {
        background-color: var(--dark-mode-nen);
        .grid2 {
          input {
            background-color: var(--dark-mode-hai);
            color: var(--mau-trang);
            border: none;

            &::placeholder {
              color: #a0a0a0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1190px) {
  .news {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;

    .news-item {
      margin-top: 20px;
      background-color: var(--xam-nhat-nhat);
      border-radius: 10px;
      text-align: justify;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: translateY(-5px);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }

      h3 {
        padding: 10px 20px 5px 20px;
        font-size: 20px;
        color: var(--mau-den);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.4;
        -webkit-line-clamp: 2;
      }

      p {
        padding: 0px 20px;
        font-size: 18px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.4;
        -webkit-line-clamp: 3;
        color: var(--mau-den);
      }

      .news-text {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 15px;
          font-weight: bold;
          color: var(--xanh-mac-dinh);
        }
      }

      .btn {
        margin: 0px 0px 20px 17px;

        a {
          text-decoration: none;
          color: var(--mau-trang);
        }
      }
    }
  }

  .show_tintuc {
    margin-top: 50px;

    .show_tintuc_item {
      border-radius: 10px;
      width: 100%;
      min-height: 200px;

      h3 {
        text-align: center;
        font-size: 20px;
        padding: 20px 20px 10px 20px;
      }

      .description {
        padding: 0px 20px;
        font-style: italic;
        font-size: 16px;
        text-align: justify;
      }

      .tintuc_grid {
        display: inline-block;
        justify-content: center;
        padding-bottom: 100px;

        .tintuc_grid_2 {
          display: flex;
        }

        p {
          font-weight: bold;
          color: var(--xanh-mac-dinh);

          i {
            cursor: pointer;
            font-size: 25px;
          }
        }
      }
    }

    .show_content {
      display: flex;
      justify-content: center;

      .show_content_item {
        transform: translateY(-100px);
        background-color: var(--mau-trang);
        width: 95%;
        padding: 20px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }

  .offcanvas-body {
    .commentBot {
      position: sticky;
      bottom: 0;
      background-color: var(--mau-trang);
      padding: 10px 0px 30px 0px;
      width: 400px;

      .grid2 {
        display: grid;
        grid-template-columns: 88% 10%;
        justify-content: space-between;
        text-align: center;
        align-items: center;

        h6 {
          color: var(--xam-nhat-ba);
        }

        h6.active {
          color: var(--xanh-login);
          cursor: pointer;
        }
      }
    }
  }
}
