.bg-color {
    background-color: #19395e;
    height: 100vh;

    .dangnhap {
        display: flex;
        justify-content: space-between;

        .content {
            h1 {
                color: #fff;
            }

            h1.special {
                color: #50edd1;
            }

            img.underline {
                width: 300px;
                transform: translate(125px, 0px);
            }

            .reason {
                margin-top: 30px;

                p {
                    padding: 10px 20px;
                    background-color: #0d1c2e;
                    font-size: 20px;
                    color: #fff;
                }
            }
        }

        .form-group {
            width: 400px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            h2 {
                color: #19395e;
                text-align: center;
                margin-top: 50px;
                text-transform: uppercase;
            }


            .form-field {

                margin: 0px 25px;


                .fa-solid {
                    transform: translate(298px, -30px);
                    cursor: pointer;
                }

                .forgot-password {
                    margin-left: 5px;
                    font-size: 18px;
                    text-decoration: none;
                }

                .form-select {
                    transform: translateY(-7px);
                }

                .btn-primary {
                    transform: translateY(5px);
                    width: 100%;
                }

                .btn-success {
                    transform: translateY(8px);
                }
            }
        }
    }
}