.admin-layout {
  .tab {
    transition: all 0.3s ease-in-out;
    margin-top: -90px;
    .tab-items {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      .tab-icon {
        img {
          width: 40px;
          height: 40px;
        }
      }
      .tab-links {
        display: none;
      }
    }

    a.tab-item {
      text-decoration: none;
    }

    .tab-item {
      display: flex;
      justify-content: center;
      padding: 15px;
      margin: 0px 5px;
      color: var(--mau-den);

      .tab-icon {
        i {
          font-size: 20px;
        }
        .tab-link {
          display: none;
        }
      }
    }

    .active {
      background-color: var(--xanh-login);
      color: var(--mau-trang);
      border-radius: 5px;
    }
  }
}

.admin-layout-open {
  .tab {
    transition: all 0.3s ease-in-out;
    margin-top: -90px;
    .tab-items {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      .tab-icon {
        img {
          margin-left: 20px;
          width: 40px;
          height: 40px;
        }
      }
      .tab-links {
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
      }
    }

    a.tab-item {
      text-decoration: none;
    }

    .tab-item {
      display: flex;
      padding: 15px;
      margin: 0px 5px;
      color: var(--mau-den);

      .tab-icon {
        display: flex;
        align-items: center;
        i {
          font-size: 20px;
        }
        .tab-link {
          width: 200px;
          font-size: 18px;
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }

    .active {
      background-color: var(--xanh-login);
      color: var(--mau-trang);
      border-radius: 5px;
    }
  }
}

.dark-mode {
  .admin-layout,
  .admin-layout-open {
    .sidebar {
      background-color: #31314d;
    }

    .tab {
      .tab-item {
        background-color: var(--dark-mode-nen);
        color: var(--mau-trang);
      }

      .tab-items {
        color: var(--mau-trang);
      }

      .active {
        background-color: var(--dark-mode-nam);
        .tab-icon {
          color: var(--mau-trang);
        }
      }
    }
  }
}
