.ask {
  padding-top: 30px;

  h3 {
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
    text-align: center;
  }

  textarea {
    height: 100px;
    resize: none;
  }
}

.answer {
  margin-top: 20px;
  .answer-item {
    margin-top: 20px;
    background-color: var(--mau-trang);
    box-shadow: var(--box-shadow);
    border-radius: 10px;

    .answer-main {
      display: flex;
      padding: 20px;

      .avatar {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
          object-fit: cover;
        }
      }

      .ask-content {
        .fullName {
          display: flex;

          p {
            font-size: 18px;
            font-weight: bold;
            margin-left: 10px;
          }

          p.role {
            background-color: var(--xanh-login);
            padding: 0px 10px;
            border-radius: 5px;
            color: var(--mau-trang);
          }

          .delete {
            color: var(--mau-do);
            cursor: pointer;
          }

          .reply {
            color: var(--xanh-login);
            cursor: pointer;
          }
        }

        .preview {
          margin-top: -10px;
          margin-left: 10px;
        }
      }
    }

    .reply-item {
      margin: 0px 45px;

      .form-chat {
        margin-top: -20px;
        margin-left: 25px;
        margin-bottom: 20px;
      }

      .answer-main {
        margin-top: -30px;
        display: flex;

        .avatar {
          img {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            object-fit: cover;
          }
        }

        .ask-content {
          .fullName {
            display: flex;

            p {
              font-size: 18px;
              font-weight: bold;
              margin-left: 10px;
            }

            p.role {
              background-color: var(--xanh-login);
              padding: 0px 10px;
              border-radius: 5px;
              color: var(--mau-trang);
            }

            .delete {
              color: var(--mau-do);
              cursor: pointer;
            }

            .reply {
              color: var(--xanh-login);
              cursor: pointer;
            }
          }

          .preview {
            margin-top: -10px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.dark-mode {
  .answer {
    .answer-item {
      background-color: var(--dark-mode-nen);
      box-shadow: var(--box-shadow-dark);
    }
  }
}

@media screen and (max-width: "1190px") {
  .answer {
    .answer-item {
      .answer-main {
        .ask-content {
          .fullName {
            display: flex;

            p {
              font-size: 16px;
              font-weight: bold;
              margin-left: 10px;
            }

            p.role {
              display: none;
            }
          }
        }
      }

      .reply-item {
        .answer-main {
          .ask-content {
            .fullName {
              display: flex;

              p {
                font-size: 16px;
              }

              p.role {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
