// Thẻ chung
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

// Cấu hình cho client
.container {
    padding-top: 60px;
}

.admin {
    margin: 80px 20px;
}

// Hiển thị markdown
.preview {
    width: 100%;

    p,
    div {
        font-size: 18px;
        color: #000;
    }

    .al-left {
        text-align: left;
    }

    .al-center {
        text-align: center;
    }

    .al-right {
        text-align: right;
    }

    .al-justify {
        text-align: justify;
    }

    blockquote {
        border-left: 4px solid #474747;
        padding-left: 10px;
        font-style: italic;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        color: #000;
    }

    table,
    th,
    td {
        border: 1px solid #000;
    }

    th,
    td {
        padding: 8px 12px;
        text-align: left;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px auto;
        text-align: center;
    }
}

// Giao diện admin đóng
.admin-layout {
    display: flex;
    transition: all 0.5s ease-in-out;

    .sidebar {
        background-color: #fff;
        width: 5%;
        height: 100vh;
        padding-top: 100px;
        transition: width 0.5s ease-in-out;
        position: fixed;
        border-right: solid 1px black;
    }

    .body {
        width: 100%;
        transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
        margin-left: 5%;

        .headerAdmin {
            background-color: #fff;
            position: fixed;
            z-index: 100;
            width: 95%;
            transition: width 0.5s ease-in-out;
        }

        .bodyAdmin {
            height: 100vh;
            transition: all 0.5s ease-in-out;
        }
    }
}

// Giao diện admin mở
.admin-layout-open {
    display: flex;
    min-height: 900px;
    transition: all 0.5s ease-in-out;

    .sidebar {
        background-color: #fff;
        width: 20%;
        height: 100vh;
        border-right: solid 1px #1e1e2f;
        padding-top: 100px;
        transition: width 0.5s ease-in-out;
        position: fixed;
    }

    .body {
        width: 80%;
        transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
        margin-left: 20%;

        .headerAdmin {
            background-color: #fff;
            position: fixed;
            z-index: 100;
            width: 80%;
            transition: width 0.5s ease-in-out;
        }

        .bodyAdmin {
            height: 100vh;
            transition: all 0.5s ease-in-out;
        }
    }
}


// Giao diện cho client
.client-layout {
    height: 100%;

    .bg-fixed {
        width: 100%;
        height: 100%;

        &::after {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.5;
            z-index: 999;
        }

        .fixed {
            opacity: 1;
            width: 50%;
            height: 100%;
            position: fixed;
            z-index: 1000;
            top: 15%;
            right: 25%;
            left: 25%;

            .fa-x {
                font-size: 25px;
                display: flex;
                justify-content: right;
                color: #000;
                transform: translate(-20px, 40px);
                cursor: pointer;
            }
        }
    }

    .bg-fix {
        width: 100%;
        height: 100%;

        &::after {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.5;
            z-index: 999;
        }

        .fixed {
            opacity: 1;
            width: 50%;
            height: 100%;
            position: fixed;
            z-index: 1000;
            top: 8%;
            right: 25%;
            left: 25%;

            .fa-x {
                font-size: 25px;
                display: flex;
                justify-content: right;
                color: #000;
                transform: translate(-20px, 40px);
                cursor: pointer;
            }
        }
    }

    img {
        user-select: none;
        pointer-events: none;
    }

    .tet {

        img.tet1 {
            width: 200px;
            bottom: 0;
            right: 0;
            z-index: 1;
            position: fixed;
        }

        img.tet2 {
            width: 200px;
            top: 60px;
            left: -10px;
            z-index: 1;
            position: fixed;
        }

        img.tet3 {
            width: 200px;
            z-index: 1;
            top: 80px;
            right: -10px;
            position: fixed;
        }
    }

    .noel {
        img.noel1 {
            width: 250px;
            position: fixed;
            z-index: 1;
            bottom: 10px;
            left: -20px;
        }
    }

    .trungthu {
        img.trungthu1 {
            width: 200px;
            position: fixed;
            z-index: 1;
            bottom: 0;
            left: 0;
        }

        img.trungthu2 {
            width: 200px;
            position: fixed;
            z-index: 1;
            bottom: 0;
            right: 0;
        }

        img.trungthu3 {
            width: 200px;
            position: fixed;
            z-index: 100;
            top: -20px;
            left: 100px;
        }
    }

}

// Giao diện tối
.dark-mode {
    background-color: #31314d;

    .laptop {
        .nav {
            background-color: #31314d;

            .nav-link {
                color: #fff;
            }

            .custom-dropdown-toggle {
                color: #fff;
            }

            .dropdown-menu {
                background-color: #1e1e2f;

                .dropdown-link {
                    color: #eee;
                }

                .dropdown-link-logout {
                    color: rgb(255, 86, 86);
                    text-decoration: none;
                }

                .dropdown-item.active,
                .dropdown-item:active {
                    background-color: #1e1e2f;
                }

                .dropdown-item:hover {
                    background-color: #1e1e2f;
                }

                .dropdown-divider {
                    background-color: #eee;
                }
            }
        }
    }

    footer {
        background-color: #27293d;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    i {
        color: #fff;
    }

    a {
        color: #c8cdff;
    }

    .admin-layout,
    .admin-layout-open {
        min-height: 900px;

        .body {
            height: 100vh;

            .headerAdmin {
                background-color: #31314d;
            }

            .bodyAdmin {
                height: 100vh;
            }
        }
    }

    .preview {
        width: 100%;

        p,
        div {
            color: #fff;
        }

        .al-left {
            text-align: left;
        }

        .al-center {
            text-align: center;
        }

        .al-right {
            text-align: right;
        }

        .al-justify {
            text-align: justify;
        }

        blockquote {
            border-left: 4px solid #ccc;
            padding-left: 10px;
            font-style: italic;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            color: #fff;
        }

        table,
        th,
        td {
            border: 1px solid #fff;
        }

        th,
        td {
            padding: 8px 12px;
            text-align: left;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 10px auto;
            text-align: center;
        }
    }
}

// Giao diện mobile
@media screen and (max-width: 1190px) {
    .container {
        padding-top: 20px;
    }

    .client-layout {
        height: 100%;

        .bg-fixed {

            .fixed {
                width: 90%;
                right: 5%;
                left: 5%;
            }
        }

        .bg-fix {
            .fixed {
                width: 90%;
                right: 5%;
                left: 5%;
            }
        }

    }
}