html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 60px;
}

.ql-align-center {
    text-align: center;
}

.ql-align-justify {
    text-align: justify;
}

.ql-syntax {
    background-color: #727272;
    padding: 10px;
    border-radius: 7px;
}

.dark-mode {
    background-color: #31314d;

    .nav {
        background-color: #31314d;

        .nav-link {
            color: #eee;
        }

        .custom-dropdown-toggle {
            color: #fff;
        }

        .dropdown-menu {
            background-color: #1e1e2f;

            .dropdown-link {
                color: #eee;
            }

            .dropdown-link-logout {
                color: rgb(255, 86, 86);
                text-decoration: none;
            }

            .dropdown-item.active,
            .dropdown-item:active {
                background-color: #1e1e2f;
            }

            .dropdown-item:hover {
                background-color: #1e1e2f;
            }

            .dropdown-divider {
                background-color: #eee;
            }
        }
    }

    footer {
        background-color: #27293d;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    i {
        color: #fff;
    }

    a {
        color: #c8cdff;
    }
}

.admin-layout {
    display: flex;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    .sidebar {
        background-color: #fff;
        width: 5%;
        height: 100vh;
        padding-top: 100px;
        transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        position: fixed;
        border-right: solid 1px black;
    }

    .body {
        width: 100%;
        transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1), margin-left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        margin-left: 5%;

        .headerAdmin {
            width: 95%;
            box-shadow: none;
            transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            border-bottom: solid 1px black;
        }

        .bodyAdmin {
            margin: 70px 0px;
            transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.admin-layout-open {
    display: flex;
    min-height: 900px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    .sidebar {
        background-color: #fff;
        width: 20%;
        height: 100vh;
        border-right: solid 1px #1e1e2f;
        padding-top: 100px;
        transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        position: fixed;
    }

    .body {
        width: 80%;
        transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1), margin-left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        margin-left: 20%;

        .headerAdmin {
            width: 80%;
            box-shadow: none;
            border-bottom: #1e1e2f solid 1px;
            transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        }

        .bodyAdmin {
            margin: 70px 0px;
            transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}