.course {
  width: 92%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;

  .course-item {
    background-color: var(--mau-trang);
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;

    img {
      border-radius: 5px;
      width: 100%;
      height: 200px;
    }

    p {
      font-weight: bold;
      padding: 10px 0px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      margin-bottom: 0px;
    }

    .action {
      display: flex;
      justify-content: center;
      padding: 10px 0px;

      i {
        font-size: 25px;
        cursor: pointer;
      }

      i.fa-circle-plus {
        margin-right: 20px;
        color: var(--xanh-login);
      }

      i.fa-edit {
        margin-right: 20px;
        color: var(--xam-dam-hai);
      }

      i.fa-trash {
        color: var(--mau-do);
      }
    }
  }
}

.form-choose {
  width: 92%;
  margin-top: 30px;
  background-color: var(--mau-trang);
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 10px;

  h3 {
    text-align: center;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
  }

  .grid3 {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
  }

  .form-create-course {
    label {
      font-size: 18px;
      font-weight: bold;
      margin: 5px 0px;
    }
  }
}

.addLesson {
  background-color: var(--mau-trang);
  position: fixed;
  z-index: 100;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 30% 69%;
  justify-content: space-between;
  padding: 20px;

  i.fa-xmark {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 25px;
    background-color: var(--mau-trang);
    padding: 5px 7px;
    border-radius: 50px;
    cursor: pointer;
  }

  .addLesson-left {
    background-color: var(--mau-trang);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    max-height: 100vh;
    overflow: auto;

    .category-main {
      display: grid;
      grid-template-columns: 90% 10%;
      justify-content: space-between;
      align-items: center;

      .category {
        margin: 20px;
        display: flex;
        background-color: var(--xanh-login);
        align-items: center;
        border-radius: 5px;

        i {
          font-size: 20px;
          padding: 10px 10px 10px 20px;
          color: var(--mau-trang);
        }

        .p {
          font-size: 18px;
          color: var(--mau-trang);
          font-weight: bold;
          padding: 10px 10px 10px 0px;
        }
      }

      i.fa-circle-plus {
        font-size: 25px;
        color: var(--xanh-login);
        cursor: pointer;
      }
    }

    .category-remain {
      display: grid;
      grid-template-columns: 80% 10% 10%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .category {
        margin: -5px 20px 0px 40px;
        display: flex;
        background-color: var(--xanh-login);
        align-items: center;
        border-radius: 5px;

        i {
          font-size: 20px;
          padding: 10px 10px 10px 20px;
          color: var(--mau-trang);
        }

        .p {
          display: block;
          text-overflow: ellipsis;
          font-size: 16px;
          color: var(--mau-trang);
          font-weight: bold;
          padding: 10px 10px 10px 0px;
          white-space: nowrap;
        }
      }

      i.fa-circle-plus {
        font-size: 25px;
        color: var(--xanh-login);
        cursor: pointer;
      }

      i.fa-circle-minus {
        font-size: 25px;
        color: var(--mau-do);
        cursor: pointer;
      }
    }

    .category-child {
      cursor: pointer;
      display: grid;
      grid-template-columns: 90% 10%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .category {
        margin: -5px 20px 0px 60px;
        display: flex;
        background-color: var(--xanh-login);
        align-items: center;
        border-radius: 5px;

        i {
          font-size: 20px;
          padding: 10px 10px 10px 20px;
          color: var(--mau-trang);
        }

        .p {
          display: block;
          text-overflow: ellipsis;
          font-size: 16px;
          color: var(--mau-trang);
          font-weight: bold;
          padding: 10px 10px 10px 0px;
          white-space: nowrap;
        }
      }

      i.fa-circle-minus {
        font-size: 25px;
        color: var(--mau-do);
        cursor: pointer;
      }
    }
  }

  .addLesson-right {
    background-color: var(--mau-trang);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    max-height: 100vh;
    overflow: auto;

    .review {
      padding: 20px;
      h3 {
        text-align: center;
      }

      .update-video {
        iframe {
          width: 100%;
          height: 600px;
          border-radius: 10px;
        }
      }
    }
  }
}

.over-main {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 101;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  i.fa-xmark {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 25px;
    background-color: var(--mau-trang);
    padding: 5px 7px;
    border-radius: 50px;
    cursor: pointer;
  }

  .over-form {
    width: 40%;
    height: 30%;
    background-color: var(--mau-trang);
    padding: 20px;
    border-radius: 10px;

    h3 {
      text-align: center;
    }

    .btn.btn-primary {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
